header {
  padding: 20px;
  background-color: slategrey;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.navigation-buttons li {
  width: 100%;
  border: 1px solid grey;
  list-style: none;
  font-size: 1.2em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: ghostwhite;
}

.navigation-buttons li:hover {
  background-color: crimson;
}
