<section class="products-list">
<article *ngFor="let product of products">
  <h3>
    <a [title]="product.name + 'details'" >
      {{product.name}}
    </a>
  </h3>
  <img [src]="product.photo.at(0)" [alt]="product.name + ' фото'">
  <div>
    <p>Цена {{product.price}}₸</p>
    <section>
      <p>Рейтинг товара {{product.rating}}/10</p>
    </section>
    <button type="button" (click)="share()">
      Share
    </button>
    <a [routerLink]="['/details', product.id]" class="learn-more">Learn More</a>
  </div>
</article>
</section>
